/* CSS Reset 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 End CSS Reset */



.body {
    /*background-color:rgb(36, 33, 33);*/
    background-color: rgb(231, 229, 229);
    overflow-x: hidden;

}


@media screen and (min-width: 768px) {
    .img {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .img {
        width: 100%;
        height: auto;
    
    }
}

.rolagem {
    max-height: 500px; /* Altura máxima para exibir antes de adicionar a barra de rolagem */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
    border: 1px solid #ddd; /* Apenas para visualização */
    padding: 10px; /* Apenas para visualização */
}

.faixa-top {
    height: 75px;
    bottom: 75px;
    background-color: rgb(145, 2, 2);
    border: solid black 1px;
}

.testeBorda {
    border: solid 2px black;
}

.borda {
    width: 100%;
    border: solid 1px black;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.borda-categoria {
    background: rgb(0, 47, 94);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 85%;
}

.borda-index {

    background-color: rgb(18, 1, 58);
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
}

.borda-img {
    background-color: antiquewhite;
    border-radius: 20px 20px 20px 20px;
    border: solid 2px black;

}

.borda-carrinho {
    background-color: rgb(145, 2, 2);
    width: 100%;
    border: black;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding: 5px;
}


@media screen and (min-width: 768px) {
.borda-button-index {
    background-color: rgb(145, 2, 2);
    width: 20%;   
    border: black;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding: 5px;
}
}

@media screen and (max-width: 768px) {
    .borda-button-index {
        background-color: rgb(145, 2, 2);
        width: 50%;
        border: black;
        font-family: sans-serif;
        font-size: 15px;
        color: white;
        padding: 5px;
    }
    }

.icone-seguidor img {
    width: 32px;
    height: 32px;
}

.circulo {
    width: 60px;
    /* Largura do círculo */
    height: 60px;
    /* Altura do círculo */
    background-color: #3498db;
    /* Cor de fundo do círculo */
    border-radius: 50%;
    /* Bordas arredondadas para criar um círculo */
    border: solid 1px #000;
}

.icone-seguidor {
    position: fixed;
    z-index: 1;
    left: 80%;
    top: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-seguidor:hover {
    opacity: 0.7;
}

.text {
    color: #616161;
    
}

/* CONTEUDO QUE EXPANDE e RETRAI */
.expansivel {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 10px;
}

.expansivel-header {
    padding: 10px;
    background-color: #f0f0f0;
}

.expansivel-conteudo {
    padding: 20px;
}


#dialogListaCliente {
            position: fixed;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 90%;
            background-color: rgba(255, 255, 255);
            color: rgb(0, 0, 0);
            font-weight: bolder;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
}

@media (max-width: 768px) {
    #dialogListaCliente {
        width: 90%;
    }
}



#position-logo {
    top: 10px !important;
}

#position-info {
    position: relative;
    margin-left: 50%;
    bottom: 95px;
}

.margin-p {
    margin-bottom: 0;
    font-size: small;

}

.margin-h3 {
    margin-bottom: 2;
    font-size: medium;
    font-weight: bold;


}

@media screen and (max-width: 768px) {
    .margem-cabeçalho {
        margin-bottom: 40%;
    }
}

@media screen and (min-width: 769px) {
    .margem-cabeçalho {
        margin-bottom: 15%;
    }
}


.margem-produtos {
    margin-bottom: 2%;
    margin-left: 2%;
    font-family: cursive;
}

.margem-info {
    margin-top: 3%;
    margin-left: 25%;

}

.margem-img {
    margin-left: 5%;
}

.margem-varTotal {

    margin-right: 10px;
}

.endereco-margem {
    margin-left: 5%;
    margin-top: 2%;
}

.ico-top {
    transform: translateY(-110px);
}

.img-produtos {
    transform: scale(0.7);
}

.img-produtos2 {
    transform: scale(0.85);
}

.margem-endereco {
    transform: translateX(120px);
}

.margem-pedidos-carrinho {
    transform: translateX(40px);
}

.corTexto {
    display: none;
}

.checked {
    background-color: #007bff;
    color: #fff;
}

#faixa-menu-adm {
    background: #ff7c0c;
    width: 100%;
    padding: 10px 0;
}

#faixa-menu-adm ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

#faixa-menu-adm ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#faixa-menu-adm ul li a {
    margin: 0;
    font-weight: bold;
    color: #000;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}

.dialogStyle {
    width: 90%;
    /* Largura do diálogo */
    margin: 5% auto;
    /* Centralizar o diálogo na tela */
    padding: 20px;
    /* Espaçamento interno */
    background-color: #fff;
    /* Cor de fundo */
    border: 1px solid #ccc;
    /* Borda */
    color: #000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.dialogStyleCarrinho {
    width: 90%;
    /* Largura do diálogo */
    max-width: 600px;
    /* Largura máxima do diálogo */
    margin: 5% auto;
    /* Centralizar o diálogo na tela */
    padding: 20px;
    /* Espaçamento interno */
    background-color: #fff;
    /* Cor de fundo */
    border: 1px solid #ccc;
    /* Borda */
    color: #000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



.dialogStyle button {
    display: block;
    margin-top: 10px;
}